{% load report_lists %}

{% available_reports %}
<form method="post">
    {% csrf_token %}
    <select name="report_action">
      {% for report_name, form in available_reports %}
      <option value="{{ report_name }}">{{ report_name }}</option>
      {% endfor %}
    </select>
    <input type="submit"/>
</form>
{% for report_name, report_form in available_reports %}
     <form method="post">
        {% csrf_token %}
        {{report_name}} <input type="hidden" value="{{report_name}}" name="report_action"/>
        {% if report_form %}
          {{report_form}}
        {% endif %}
         <input type="submit"/>
     </form>
{% endfor %}

<table>
{% for report in reports_list %}
    <tr>
        <td>{{report.report_name}}</td>
        <td>{{report.report_date}}</td>
        <td>{{report.display_status}}</td>
        <td>{% if report.is_ready %}
                <a href="{% url report-download pk=report.id %}">Download</>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

